<div class="header_space_left">
    <div class="header_space_left_inner">
    </div>
</div>
<div class="header_contacts">
    <div class="header_contacts_title">
            Интернет-магазин аудио оборудования
    </div>
    <div class="header_contacts_space">
        <h2>(499) <b class="header_contacts_space_big">504-43-89</b></h2>
    </div>
    <div class="header_contacts_icqcell">
        <h2>200-233-273</h2>
    </div>
</div>
<div class="header_space_right">
    <div class="bascet">
        <div class="bascet_top">
            <div class="hello_user_text">
            Добро пожаловать,<br />
            <b class="hello_user">пользователь</b>
            </div>
            <h2 class="bascet_h">
                КОРЗИНА
            </h2>
        </div>
        <div class="bascet_body">
            <div class="in_bascet">
                В вашей корзине <b class="num_market">3</b> товар (а)
            </div>
            <center style="padding-top: 5px; padding-bottom: 5px;">
                <a href="" title="сделать заказ"><img src="{{ MEDIA_URL }}images/make_order.png" alt="сделать заказ" /></a>
            </center>
        </div>
        <div class="bascet_footer">
            <center>
                <a class="bascet_links" href="" title="Войти">Войти</a> <b class="bascet_zero">*</b> <a class="bascet_links" href="" title="Регистрация">Регистрация</a>
            </center>
        </div>
    </div>
</div>