<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}
            {{ site_name }}{% endblock %}</title>
		<link href="{{ MEDIA_URL }}style.css" type="text/css" rel="stylesheet" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<script src="jquery.js" type="text/javascript"> </script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#ears_here").after("<div class='ears'></div>");
				var new_position = $("html").height() - 472;
				$(".ears").attr("style", "position: absolute; top: "+new_position+"px; left: 60px;");
			})
		</script>
	</head>
	<body>
        {% block site_wrapper %}{% endblock %}
	</body>
</html>