{% load catalog_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Верстка</title>
		<link href="{{ MEDIA_URL }}style.css" type="text/css" rel="stylesheet" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<script src="jquery.js" type="text/javascript"> </script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#ears_here").after("<div class='ears'></div>");
				var new_position = $("html").height() - 472;
				$(".ears").attr("style", "position: absolute; top: "+new_position+"px; left: 60px;");
			})
		</script>
	</head>
	<body>
		<div id="wrapper" class="clearfix">
			<div id="sidebar" class="column">
                {% category_list request.path %}
			</div>
			<div id="content" class="column">
				<div class="header">
					<div class="header_space_left">
						<div class="header_space_left_inner">
						</div>
					</div>
					<div class="header_contacts">
						<div class="header_contacts_title">
								Интернет-магазин аудио оборудования
						</div>
						<div class="header_contacts_space">
							<h2>(499) <b class="header_contacts_space_big">504-43-89</b></h2>
						</div>
						<div class="header_contacts_icqcell">
							<h2>200-233-273</h2>
						</div>
					</div>
					<div class="header_space_right">
						<div class="bascet">
							<div class="bascet_top">
								<div class="hello_user_text">
								Добро пожаловать,<br />
								<b class="hello_user">пользователь</b>
								</div>
								<h2 class="bascet_h">
									КОРЗИНА
								</h2>
							</div>
							<div class="bascet_body">
								<div class="in_bascet">
									В вашей корзине <b class="num_market">3</b> товар (а)
								</div>
								<center style="padding-top: 5px; padding-bottom: 5px;">

									<a href="" title="сделать заказ"><img src="{{ MEDIA_URL }}images/make_order.png" alt="сделать заказ" /></a>
								</center>
							</div>
							<div class="bascet_footer">
								<center>
									<a class="bascet_links" href="" title="Войти">Войти</a> <b class="bascet_zero">*</b> <a class="bascet_links" href="" title="Регистрация">Регистрация</a>
								</center>
							</div>
						</div>
					</div>
				</div>
				<div class="menu">
					<div class="menu_body">
						<div class="menu_body_left_inner">
						</div>
						<div class="menu_body_body_inner" style="display: table-cell; vertical-align: top;">
							<div class="menu_trans">
								<ul>
									<li>
										<a href="index.html" title="Главная">главная</a>
									</li>
									<li>
										<a href="index.html" title="Доставка и оплата">доставка и оплата</a>
									</li>
									<li>
										<a href="index.html" title="О нас">о нас</a>
									</li>
									<li>
										<a href="index.html" title="Блог">блог</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menu_right">
						<div class="menu_right_inner">
						</div>
					</div>
				</div>
				
				<div class="under_menu">
					<div class="under_menu_left">
						<div class="under_menu_left_inner">
						</div>
					</div>
					<div class="under_menu_right">
						<div class="under_menu_right_left">
						</div>
						<div class="under_menu_right_right">
						</div>
						<div class="under_block_desc" style="width: 100%; height: 40px;">
							<div class="navigate_bar" style="width: 100%; height: 40px; display: table-cell;vertical-align:middle;">
								<div class="navigate_bar_items navigate_bar_cat">ГЛАВНАЯ СТРАНИЦА</div>
								<div class="navigate_bar_items navigate_bar_arrow"></div>
								<div class="navigate_bar_items navigate_bar_cat">НАУШНИКИ</div>
								<div class="navigate_bar_items navigate_bar_arrow"></div>
								<div class="navigate_bar_items navigate_bar_item">ВСЕ НАУШНИКИ</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="top_content">
					<div class="top_content_left">
						<div class="top_content_left_inner">
						</div>
					</div>
					<div class="top_content_right">
						<div class="top_panel">
							<div class="top_panel_left">
							</div>
							<div class="top_panel_right">
							</div>
						</div>
					</div>
				</div>
				<div class="top_content_body">
					<div class="top_content_body_left">
						<div class="top_content_body_left_inner">
							<div class="loop_right">
							</div>
						</div>
					</div>
					<div class="top_content_body_right">
						<div class="content_body">
							<div class="content_body_border_left">
								<div class="content_body_border_left_inner">
								</div>
							</div>
							<div class="content_body_center">
								<h1 class="block_title">
                                    {{ c.name }}
								</h1>
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="100%">
											<div class="market_wrapper">
												<center>
                                                    {% if photo %}
													<a href="{{ photo.image.url }}" title="Pioneer CDJ-900"><img class="marketfull_image" src="{{ photo.image.url }}" alt="Товар 2" /></a>
                                                    {% else %}
                                                        Фото товара отсутствует
                                                    {% endif %}
												</center>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="content_body_border_right">
								<div class="content_body_border_right_inner">
								</div>
							</div>
						<div class="content_body">
							<div class="content_body_border_left">
								<div class="content_body_border_left_inner">
								</div>
							</div>
							<div class="content_body_center">
								<div class="tov_desc">
                                    {{ c.mini_description }}
								</div>
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="50%" style="padding-left: 15px; padding-right: 15px;">
											<table width="100%" border="0" cellpadding="0" cellspacing="0" >
												<tr>
                                                   <td class="tov_key">
                                                       Вид
													</td>
													<td class="tov_val">
                                                        {{ c.category }}
													</td>
												</tr>
                                                {% if c.Length %}
                                                <tr>
                                                   <td class="tov_key">
                                                       Разъем
													</td>
													<td class="tov_val">
                                                        {{ c.Connector }}
													</td>
												</tr>
                                                {% endif %}
											</table>
										</td>
										<td width="50%" style="padding-left: 15px; padding-right: 15px;">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                {% if c.Length %}
												<tr>
													<td class="tov_key">
														Длина провода
													</td>
													<td class="tov_val">
														{{ c.Length }} м
													</td>
												</tr>
                                                {% endif %}
                                                {% if c.Features %}
												<tr>
													<td class="tov_key">
														Особенности
													</td>
													<td class="tov_val">
														{{ c.Features }} м
													</td>
												</tr>
                                                {% endif %}
											</table>
										</td>
									</tr>
								</table>
							</div>
							<div class="content_body_border_right">
								<div class="content_body_border_right_inner">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="top_content_bottom">
					<div class="top_content_bottom_left">
						<div class="top_content_bottom_left_inner">
						</div>
					</div>
					<div class="top_content_bottom_right">
						<div class="bottom_panel">
							<div class="bottom_panel_left">
							</div>
							<div class="bottom_panel_right">
							</div>
						</div>
					</div>
				</div>

				<div class="bottom_page">
					<h1 class="market_desc_header" style="margin-top:25px;">
						Описание
					</h1>
					<div class="market_desc">
                        {{ c.html_description|safe }}
					</div>
					<div class="footer_menu">
						<ul>
							<li>
								<a href="" title="">ГЛАВНАЯ</a>
							</li>
							<li>
								<a href="" title="">ДОСТАВКА И ОПЛАТА</a>
							</li>
							<li>
								<a href="" title="">О НАС</a>
							</li>
							<li>
								<a href="" title="">БЛОГ</a>
							</li>
						</ul>
					</div>
					<div class="footer_little_menu">
						<ul>
							<li>
								<a href="" title="">Наушники</a>
							</li>
							<li>
								<a href="" title="">Вставные</a>
							</li>
							<li>
								<a href="" title="">Мониторные</a>
							</li>
							<li>
								<a href="" title="">Накладные</a>
							</li>
							<li>
								<a href="" title="">Pioneer</a>
							</li>
							<li>
								<a href="" title="">AKG</a>
							</li>
							<li>
								<a href="" title="">Весь список</a>
							</li>
						</ul>
					</div>
					<b class="copyright">Copyright (c) 1941-1945</b>
				</div>
			</div>
		</div>
		<div id="ears_here"></div>
	</body>
</html>